body {
	background-color: #dcdcdc;
	font-family: 'Lato', sans-serif;
}

img {
	width: 100%;
}

.navbar-default {
	border-bottom: none;
	background-color: #dcdcdc;
	font-size: 15px;
	font-weight: 700;
}

.navbar-default .links ul a {
	color: #4E4E5B;
	padding-bottom: 9px;
	padding-top: 9px;
}

.navbar-default .links ul {
	margin: 15px 100px 0 0;
}

.last {
	border: 2px solid #242424;
	border-radius: 5px;
}

.container {
	padding-left: 0;
	padding-right: 0;

}


h1 {
	font-size: 94px;
	font-weight: 900;
	color: #242424;
	margin-top: 55px;
}

p {
	font-size: 20px;
	color: #242424;
}

input {
	font-size: 17px;
	min-width: 250px;
	max-width: 100%;
	border: 1px solid #b2b2b3;
	padding: 14px 13px;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	margin-top: 15px;
}

input[type="submit"] {
	background-color: #42c299;
	color: #fff;
	font-weight: 700;
}

span {
	color: #70787d;
	font-size: 14px;
}

.main-footer {
	background-color: #fff;
	margin-top: 20px;
	padding-top: 30px;
	padding-bottom: 25px;
}

.fa .fa-heart {
	font-size: 14px;
}

.main-footer li {
	font-size: 17px;
	color: #9e9ea6;
	list-style: none;
}

.main-footer ul a {
	text-decoration: none;
}

.main-footer .one {
	color: #edb431;
}

.main-footer .two {
	color: #e32072;
}

.main-footer .three {
	color: #2ab27b;
}

.main-footer .four {
	color: #4b6bc6;
}

.footer {
	display: flex;
	justify-content: space-between;
	
}

.footer .contact ul li {
	display: inline-block;
}

.footer .contact ul li a {
	color: #9e9ea6;
	font-size: 17px;
	padding-right: 15px;
}

.footer .contact {
	padding: 15px 100px 10px 0;
}

.footer .foo span {
	font-size: 20px;
	margin-top: 20px;
	margin-left: 120px;

}

